<app-navbar></app-navbar>

<div class="container">
  <ngx-loading [show]="isFetching"
    [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)', fullScreenBackdrop:true}">
  </ngx-loading>

  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!isFetching">
    <h2 class="winners-header" fxFlex="50">Winners <span *ngIf="timeSpan.length > 0">( {{timeSpan}} )</span></h2>
    <button style="margin-right: 40px; border-radius: 8px" mat-raised-button color="primary"
      (click)="openModal()">Generate Winners</button>
  </div>


  <div fxLayout="row" fxLayoutAlign="center start" *ngIf="generatedWinners && !isFetching">
    <app-reusable-datatable [tableConfig]="tableConfig" *ngIf="!isFetching" fxFlex="96"></app-reusable-datatable>
  </div>

  <mat-card class="hint" *ngIf="!generatedWinners && !isFetching">
    <p>Please generate winners</p>
  </mat-card>

</div>