.container {
  width: 100%;
  height: 100%;
  background-color: #83d0f5;
}

.login-card {
  width: 569px;
  height: 625px;
}

.title {
  font-weight: 700;
  font-size: 24px;
}

:host::ng-deep {
  .mat-card {
    border-radius: 16px !important;
  }
  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    color: #fff;
    background-color: #589c2e;
    border-radius: 100px !important;
  }
}
