<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <app-ng-dynamic-breadcrumb [bgColor]="'#fff'" [fontSize]="'14px'" [fontColor]="'#0275d8'" [lastLinkColor]="'#000'"
      [symbol]="' > '"></app-ng-dynamic-breadcrumb>
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="userInfo">
      <img class="avatar" src="../../../../assets/images/avatar.svg" alt="" srcset="">
      <p class="user-name">{{fullName}}</p>
      <div class="admin-chip"><span>Admin</span></div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

    </div>
  </div>
</mat-card>