h1,
h2,
h3,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}

:host::ng-deep {
  .mat-card {
    padding: 15px !important;
  }
}

.user-name {
  font-size: 16px;
  font-weight: 700;
  margin-right: 15px !important;
}

.admin-chip {
  border-radius: 100px;
  padding: 6px 12px 6px 12px;
  background-color: #e2f3d8;
  span {
    font-weight: 400;
    font-size: 12px;
    color: #246c0e;
  }
}

.avatar {
  margin-right: 8px;
  height: 32px;
  width: 32px;
}
