<mat-card class="navbar">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button (click)="onBackButtonClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <app-ng-dynamic-breadcrumb [bgColor]="'#fff'" [fontSize]="'14px'" [fontColor]="'#0275d8'" [lastLinkColor]="'#000'"
        [symbol]="' > '"></app-ng-dynamic-breadcrumb>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="userInfo">
      <app-navbar-avatar [name]="fullName" class="mr-5"></app-navbar-avatar>
      <p class="user-name">{{fullName}}</p>
      <div class="admin-chip"><span>Admin</span></div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

    </div>
  </div>
</mat-card>