:host ::ng-deep {
  .mat-table {
    border-radius: 8px;
    overflow: hidden !important;
  }

  .mat-paginator {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden !important;
  }

  mat-header-row {
    background-color: #fff;
  }

  mat-header-cell {
    // border: 1px solid #e9e9e9;
    padding-left: 24px;
    font-weight: 700;
    font-size: 12px;
    color: #949494;
  }

  mat-row {
    border-bottom-width: 0 !important;
  }

  mat-row:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }

  // mat-row :first-child {
  //   padding-left: 24px;
  // }
  mat-row :last-child {
    padding-right: 0;
  }
}

.paginator-style {
  border-top: 1px solid #0000001f !important;
}

.subscribed {
  height: 27px;
  width: 81px;
  border-radius: 100px;
  background-color: #e5fbef;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .subscribed-text {
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color: #00ae5b;
  }
}

.not-subscribed {
  height: 27px;
  width: 100px;
  border-radius: 100px;
  background-color: #e7efff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .not-subscribed-text {
    font-size: 11px;
    font-weight: 400;
    color: #2d8eff;
  }
}
