<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="modal-heading">Generate High Scorers</h3>
    <button mat-icon-button (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="modal-body">
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center start">
      <mat-radio-group formControlName="timeSpan" fxLayout="row" fxLayoutGap="14px" style="margin-bottom: 24px">
        <mat-radio-button value="ALLTIME">All Time</mat-radio-button>
        <mat-radio-button value="DATE">Date</mat-radio-button>
        <mat-radio-button value="DATERANGE">Date Range</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline" *ngIf="timeCriteria == 'date'">
        <mat-label>Date</mat-label>
        <input placeholder="Date" matInput [matDatepicker]="picker" formControlName="fromDate" [max]="maxDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-24" *ngIf="timeCriteria == 'daterange'">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker2">
          <input matStartDate formControlName="fromDate" placeholder="Start date">
          <input matEndDate formControlName="toDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker #picker2></mat-date-range-picker>

        <mat-error *ngIf="form.controls['fromDate'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="form.controls['toDate'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No of high scorers</mat-label>
        <input matInput placeholder="No of winners" formControlName="limit" type="number">
      </mat-form-field>
    </form>
  </div>

  <mat-divider></mat-divider>

  <div class="modal-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button class="cancel-btn" (click)="closeModal()">Cancel</button>
    <button mat-raised-button class="generate-btn" (click)="sendGenerateHighScorersFilter()">Generate</button>
  </div>

</div>